test_agent/
report/
data/
src/Server/.env
dist_agent/
build/
data/
src/Server/master/node_modules/
src/Server/node_modules/
src/agents/socket_debug.go
.env
node_modules
src/agents/siem-agent_1.0.0_amd64.deb
src/Server/.env.example
src/AdminDashboard/.env.example
.env.example
/.env.wan
/src/AdminDashboard/.env.example
/.env.local
/src/nginx/nginx.conf
/src/nginx/nginx.conf.local
/src/nginx/nginx.conf.lan
/src/nginx/nginx.conf.wan